.modal-custom{
    position: fixed;
    z-index: 1;
    top: 20%;
    transform: translate(50%,-5%);
    background: gray;
    width: 600px;
    height: 600px;
    box-shadow: 1px 5px 5px black;
    border-radius: 5px;
    padding: 20px;
}
.modal-custom:before{
    width: 100vw;
    height: 100vw;
    background-color: black;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}